<ul >
  {{#events}}
    <li>
        <h2 style="background-color:powderblue;"> {{ title }}</h2>
        <p>{{ description }}</p>
        <button type="button">Like</button>
        <a href="#" title="Love it" class="btn btn-counter multiple-count" data-count="0"><span>&#x2764;</span> Love it</a>
    </li>
    <p> I am transformed. </p>
  {{/events}}
</ul>